@model Expense_Tracker.Models.MemberDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this member?</h2>
<div>Name: @Model.MemberName</div>
<form action="/Member/Delete/@Model.MemberID" method="POST">
    <input type="submit" value="Confirm Delete" class="button button-general" />
    <a href="/Member/List" class="button button-general">Cancel</a>
</form>
