@model IEnumerable<Expense_Tracker.Models.MemberDto>
@{
    ViewBag.Title = "Member";
}

<div>
    <h1>Member List</h1>
</div>
<a href="/Member/New" class="button button-general">New Member</a>
<table id="table-member" class="display">
    <thead>
        <tr>
            <th>Member</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@member.MemberName</td>
                <td><a href="/Member/Edit/@member.MemberID" class="button button-edit">Edit</td>
                <td><a href="/Member/DeleteConfirm/@member.MemberID" class="button button-delete">Delete</td>
            </tr>
        }
    </tbody>
</table>