@model Expense_Tracker.Models.MemberDto
@{
    ViewBag.Title = "New Member";
}

<div>
    <h1>New Member</h1>
</div>

<form action="/Member/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="MemberName" />
    </div>
    <div>
        <input type="submit" value="Add Member" class="button button-general" />
        <a href="/Member/List" class="button button-general">Cancel</a>
    </div>
</form>