@model Expense_Tracker.Models.CategoryDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this category?</h2>
<div>Name: @Model.CategoryName</div>
<form action="/Category/Delete/@Model.CategoryID" method="POST">
    <input type="submit" value="Confirm Delete" class="button button-general" />
    <a href="/Category/List" class="button button-general">Cancel</a>
</form>
