@model Expense_Tracker.Models.CategoryDto
@{
    ViewBag.Title = "Edit Category";
}

<div class="navlink">
</div>

<div>
    <h1>Update Category</h1>
</div>

<form action="/Category/Update/@Model.CategoryID" method="POST">
    <div style="display:none;">
        @* Pass through the category ID *@
        <input type="text" name="CategoryID" value="@Model.CategoryID" />
    </div>
    <div>
        <label>Name:</label> <input type="text" name="CategoryName" value="@Model.CategoryName" />
    </div>
    <div>
        <input type="submit" value="Update Category" class="button button-general" />
        <a href="/Category/List" class="button button-general">Cancel</a>
    </div>
</form>