@model IEnumerable<Expense_Tracker.Models.CategoryDto>
@{
    ViewBag.Title = "Category";
}

<div class="navlink">
    <a href="/Category/New">New Category</a>
</div>

<div>
    <h1>Category List</h1>
</div>
<table id="table-category" class="display">
    <thead>
        <tr>
            <th>Category</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryName</td>
                <td><a href="/Category/Edit/@category.CategoryID">Edit</td>
                <td><a href="/Category/DeleteConfirm/@category.CategoryID">Delete</td>
            </tr>
        }
    </tbody>
</table>