@model Expense_Tracker.Models.CategoryDto
@{
    ViewBag.Title = "New Category";
}

<div>
    <h1>New Category</h1>
</div>

<form action="/Category/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="CategoryName" />
    </div>
    <div>
        <input type="submit" value="Add Category" class="button button-general" />
        <a href="/Category/List" class="button button-general">Cancel</a>
    </div>
</form>